.row
.col-lg-4.col-lg-offset-4
  = form_tag search_users_path, method: :get do
    = text_field_tag :search_user, nil, placeholder: "Search Users", class: "form-control"
  %br
  .row
    .col-lg-12
      %table.table
        %thead
          %th ID
          %th Name
          %th Email
          %th Blog Count
          %th{colspan: 2} Blogs
        %tbody
          - @users.each do |u|
            %tr
              %td
                = u.id
              %td
                = u.name
              %td
                = u.email
              %td
                = u.blog_count
              %td
                = link_to "Create", new_user_blog_path(u.id), class: "btn btn-info btn-small"
              %td
                = link_to "View", user_blogs_path(u.id), class: "btn btn-warning btn-small"





      = link_to "Create User", new_user_path, class: "btn btn-primary pull-right"
