.row
.col-lg-4.col-lg-offset-4
  = form_tag search_users_path, method: :get do
    = text_field_tag :search_user, nil, placeholder: "Search Users", class: "form-control"
  %br
  .row
    .col-lg-12
      %table.table
        %thead
          %th ID
          %th Name
          %th Email
        %tbody
          - @users.each do |u|
            %tr
              %td
                = u.id
              %td
                = u.name
              %td
                = u.email


      = link_to "Create User", new_user_path, class: "btn btn-primary pull-right"
