!!!
%html
  %head
    %title Elasticsearch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-lg-12
          .page-header
            %h1
              = link_to "Elasticsearch", root_path

    = yield
